body{
    background-color: Gainsboro;
}

#cabeçalho{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
    width: auto;
    height: auto;
}

#divBusca:header{
    background-color: rgb(138, 132, 132);
    border: solid 1px;
    border-radius: 15px;
    width: 300px;
    margin-left: 5px;
}

#txtBusca{
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: black;
    height: 32px;
    width: 260px;
}

button{
 height: 36px;
 width: auto;
 color: gray;
 margin-left: 5px;
}
.login{
    margin-left: 599px;
}

img{
    margin-top: 20px;
    width: 210px;
    height: 210px;
}
img:hover{
    width: 220px;
    height: 220px;
}

header{
    background-color: black;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: beige;
}

.seta{
    margin-top: 20px;
    margin-left: 20px;
    color: beige;
}

p{
    color: beige;
}

footer{
    background-color: rgb(44, 44, 44);
    margin-top: 20px;
}